:root {
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --first-text-color: #757575;
    --second-text-color: rgba(255, 255, 255, 0.6);
    --logo-hover-color: #2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

header {
    background-color: var(--main-title-color);
    padding-top: 24px;
    padding-bottom: 25px;
}
ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.heder-nav {
    display: flex;
    align-items: center;
}

.header-conteiner {
    display: flex;
    align-items: center;
}

.header-address {
    display: flex;
    margin-left: auto;
    margin-left: 331px;
}

.header-address-item {
    margin-right: 50px;
}
.header-address-item:last-child {
    margin-right: 0;
}

.header-logo {
    color: var(--logo-hover-color);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    font-family: 'raleway';
    margin-right: 93px;
    margin-left: 215px;
}
.header-studio {
    color: var(--second-title-color);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    font-family: 'raleway';
}

.header-list {
    display: flex;
    margin-right: 93px;
}

.header-item {
    margin-right: 50px;
}

.header-item:last-child {
    margin-right: 0;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}
.header-link:hover {
    color: var(--logo-hover-color);
}
.header-contacts {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
}
.header-contacts:hover {
    color: var(--logo-hover-color);
}




.hero {
    background-color: #2F303A;
    height: 600px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--main-title-color);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    position: absolute;
    margin-left: 482px;
    margin-top: 200px;
}
.hero-btn {
    background-color: #2196F3;
    width: 200px;
    height: 50px;
    margin-left: 700px;
    margin-top: 360px;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    justify-content: center;
}

.hero-btn {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    color: var(--main-title-color);
}



.about {
    width: 1170px;
    height: 101px;
}

.about-title {
    display: none;
}

.about-list {
    display: flex;
    margin-top: 94px;
    margin-left: 215px;
    margin-right: 215px;
}

.about-item {
    margin-right: 30px;
}

.about-third-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title-color);
}

.about-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    margin-top: 10px;
    width: 270px;
    height: 75px;
}



.reasons {
    margin-top: 94px;
    height: 386px;
}

.reasons-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    position: absolute;
    margin-left: 612px;
}

.reasons-list {
    display: flex;
    margin-left: 215px;
    margin-top: 50px;
    position: absolute;
    margin-top: 92px;
}

.reasons-item {
    margin-right: 30px;
}


.masters {
    height: 648px;
    margin-top: 94px;
    background-color:#F5F4FA;
}

.masters-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    padding-top: 94px;
}

.maters-list {
    display: flex;
    position: absolute;
    margin-left: 215px;
    padding-top: 50px;
}

.masters-item {
    margin-right: 30px;
}

.masters-third-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}

.maters-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}





.footer {
    background-color: #2F303A;
    height: 252px;
    padding-top: 60px;
}

.footer-logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-hover-color);
    margin-left: 215px;
    }

.footer-studio {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-title-color)
}

.footer-address-list {
    margin-left: 215px;
    margin-top: 20px;
}

.footer-address-item {
    margin-bottom: 9px;
}
.footer-address-map {
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}
.footer-address-map:hover {
    color: var(--main-title-color);
}

.footer-address-mail {
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-address-mail:hover {
    color: var(--main-title-color);
}

.footer-address-tel {
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1,7;
    letter-spacing: 0.03em;
    color:rgba(255, 255, 255, 0.6);
}
.footer-address-tel:hover {
    color: var(--main-title-color);
}


/*portfolio*/


.content {
    height: 1300px;
}

.content-title {
    display: none;
}

.content-list {
    display: flex;
    margin-top: 100px;
    margin-left: 495px;
}

.content-item {
    margin-right: 8px;

}
.content-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    background-color: #F5F4FA;
    border: none;
    padding: 6px 22px 6px 22px;
}
.content-btn:hover {
    color: var(--main-title-color);
    background-color: var(--logo-hover-color);
}

.second-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 215px;
}

.second-content-item {
    margin-right: 30px;
}

.second-content-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-title-color);
    padding-top: 20px;
    padding-left: 24px;
    }

.second-content-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    padding-left: 24px;
    padding-top: 4px;
}
